.categories {
	border: 1px solid #bbb;
	width: 260px;
	height: 290px;
	background-color: #F5F5F5;
	padding-left: 5px;
	float: left;
	overflow: scroll;
	margin-bottom: 15px;
}

.categories ul {
	list-style: none;
	margin-top: 2px;
	margin-left: 0px;
	width: 320px;
}

.add-categories {
	border: 1px solid #bbb;
	width: 260px;
	height: 290px;
	background-color: #F5F5F5;
	padding-left: 5px;
	float: left;
	margin-left: 20px;
}

.add-categories p {
	font-size: 1.4em;
	font-weight: bold;
	color: #333;
	margin: 0px;
}

.add-categories-wrapper {
	border: 1px solid #bbb;
	width: 250px;
	height: 150px;
	background-color: #FFFFFF;
	overflow: scroll;
}

.add-categories-wrapper ul {
	list-style: none;
	margin-top: 2px;
	margin-left: 5px;
	width: 320px;
}

.add-category-submit {
	margin-top: 7px;
	margin-left: 70px;
}
